body {
    max-width: 820px;
    margin: 15px auto;
    background-color: #FAF9F6;
    position: relative;
}

.navbar {
    display: inline;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    margin-right: 0;
    margin-left: auto;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.navbar li a:link {
    color: rgb(139, 117, 117);
}

.navbar li a:visited {
    color: #968888;
}

.navbar li a:hover {
    color: black;
} 

.hero {
    position: relative;
    text-align: center;
    display: block;
    width: 80%;
    right: 80px;
}

.hero img {
    position: relative;
    border-radius: 50%;
    height:150px;
    max-height: 250px;
    display: inline-block;
}

.hero-title {
    display: inline-block;
    position: relative;
    text-align: center;
    bottom: 20px;
    padding-left: 25px;
}

.hero, .hero-title {
    margin-top: 25px;
}

.hero-title h1 {
    font-size: 30px;
    padding-bottom: 15px;
}

.hero-title h3 {
    font-size: 20px;
}

.page-title {
    position: flex;
    display: inline-block;
    bottom: 25px;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #dddddd;
}

.social-links {
    position: relative;
    float: right;
    top: -40px;
}

.social-links a {
    margin-right: 20px;
    font-size: 30px;
    color: black;
}

.social-links a:link {
    color: black;
}

.social-links a:hover {
    color: black;
}

.social-links a:visited {
    color: black;
}

#to-do {
    border: 1px solid black;
    margin-top: 25px;
    padding-bottom: 15px;
    max-width: 100%;
}

#to-do h3, #to-do p {
    padding-left: 25px;
}

#to-do p {
    padding-bottom: 25px;
}

#to-do-img {
    display: flex;
    justify-content: center;
}

#to-do img {
    position: relative;
    display: flex;
    width: 75%;
}

#data-analysis {
    border: 1px solid black;
    margin-top: 25px;
    padding-bottom: 15px;
    max-width: 100%;
}

#data-analysis h3, #data-analysis p {
    padding-left: 25px;
}

#data-analysis p {
    padding-bottom: 25px;
}

#data-img {
    display: flex;
    justify-content: center;
}

#data-analysis img {
    position: relative;
    display: flex;
    width: 75%;
} 

.prod-image {
    max-width: 50%;
}

.prod-image:hover {
    transform: scale(1.25,1.25);
    position: relative;
    bottom: 25px;
    left: 50px;
    z-index: 1;
}

.youtube-embed {
    float: right;
    position: relative;
    bottom: 215px;
}

#dice-roll {
    border: 1px solid black;
    margin-top: 10px;
}

#dice-roll h3, #dice-roll p{
    padding-left: 25px;
}

#dice-roll p {
    padding-bottom: 25px;
}

#dice-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.diceroller-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    top: 40px;
}

.container-container {
    background-color: beige;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 250px;
    background-image: url(dnd.webp);
    background-size: 300px 250px;
}

.container-container-container {
    position: relative;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    color: white;
}

label {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    margin-top: 20px;
    margin-bottom: -10px;
}

#roll-result {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(255, 255, 255);
    font-size: 20px;
}
