body {
    margin: 0;
    top: 0;
    left: 0;
    background-color: #4682B4;
}

.paper {
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    max-width: 1500px;
}

main {
    position: relative;
    margin-left: 270px;
    display: grid;
    grid-template-rows: auto 1fr;
}

#pfp {
    max-width: 150px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 25px;
}

header {
    position: relative;
}

header h1 {
    position: relative;
    padding-left: 50px;
    padding-bottom: 15px;
    margin-left: 45px;
}

#first-name {
    position: relative;
    margin-left: -50px;
}

header h3 {
    position: relative;
    margin-left: 25px;
}

#contact {
    margin-top: 50px;
}

#contact h3{
    text-decoration: underline;
    text-align: center;
}

#contact p{
    margin-left: 45px;
}

#prog {
    margin-left: 50px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 5px;
    margin-top: 50px;
    top: 0;
    font-size: larger;
    max-width: 200px;
}



nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    color: #c2d6e7;
}

nav a:hover {
    color: #fff;
}

nav a:active {
    color: #ABBAE1;
}

.side {
    border: 2px solid black;
    max-width: 250px;
    height: 100%;
    float: left;
}

#about {
    max-height: 150px;
    overflow: auto;
}

#about p {
    padding-left: 30px;
}

#skills {
    margin-left: 25px;
    margin-top: 75px;
}

#skills ul {
    list-style-type: none;
    margin-left: -25px;
}

.skill-bar {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border: 1px solid black;
}

.sect-title {
    text-decoration: underline;
}

.exp_head {
    font-size: x-large;
    font-weight: bold;
}

.exp_subhead {
    font-size: large;
    font-weight: bold;
}

.responsibility {
    font-weight: bold;
}

.education-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#education {
    flex: 1;
    max-height: 550px;
    overflow: auto;
    padding-left: 30px;
}

#education ul {
    list-style-type: none;
}

.edu-head {
    margin-left: -25px;
    font-size: larger;
    font-weight: bold;
}

.edu-subhead {
    font-weight: bold;
}

.cert-head {
    font-size: larger;
    font-weight: bold;
    margin-left: -25px;
}

.cert-subhead {
    font-weight: bold;
}

#tech-pro {
    flex: 1;
    max-height: 550px;
    overflow: auto;
    padding-left: 30px;
}

#tech-pro ul {
    list-style-type: none;
    margin-left: -25px;
}

#tech-pro li {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: large;
}

.percent {
    position: absolute;
    margin-top: -22px;
    margin-left: 125px;
}

#top {
    color: #c2d6e7;
}